URxvt.scrollBar: false
URxvt.visualBell: false
URxvt.cursorUnderline: true
URxvt.font: xft: Envy Code R:size=10

Xft.antialias: true

Xautolock.time: 3
Xautolock.locker: sxlock -f '-*-terminus-medium-r-*-*-17-*-*-*-*-*-*-*'

Xcursor.size: 24

#include ".Xresources.d/pybase16"
#include ".Xresources.d/rofi"
